// CONTROL
// -------


.controls {
	border: 2px solid #DA8300;
	//border: 2px solid rgba(240,240,240,0.5);
	max-width: 96em;
	margin: 6em auto;
	border-radius: 4px;
	background: rgb(255,255,255);
	//box-shadow: 0px 0px 2px rgba(60,60,60,0.25);
	overflow: hidden;
}


	.search {
		//border-bottom: 1px solid #DA8300;
		border-top: 1px solid rgb(230,236,242);
	}


		.search__field {
			font: 300 2.4em "Roboto";
			padding: 0.75em 1em;
			color: rgb(30,40,60);
			display: inline-block;
			width: calc(100% - 2.9em);
			border: 0;
			margin: 0;
			background: transparent;
			outline: none;
			float: left;

			&::-webkit-input-placeholder {
				color: rgba(30,40,60,0.4);
			}

		}


		.search__submit {
			display: inline-block;
			font: 400 1.4em/1em "Roboto";
			padding: 1em 0.75em;
			background: #F39C12;
			text-transform: uppercase;
			border: 0;
			width: 20%;
			height: 4.2857em;
			width: 4.2857em;
			margin: 0.3em;
			float: left;
			outline: none;
			border-radius: 4px;
		}


	.current-store {
	}


		.current-store__information {
			display: block;
			width: 75%;
			padding: 1.4em 2.4em;
		}


		.current-store__location {
			display: block;
			background: rgb(255,255,255);
			color: rgb(170,180,190);
			border-radius: 4em;
			font: 400 1.2em "Roboto";
			text-transform: uppercase;
			padding: 1em 2.333em;
			margin: 0;
			border: 0;
			width: 33.33333%;
			border-radius: 0;
			float: left;

		}


		.current-store__location--active {
			background: rgb(245,245,245);
		}


			.current-store__information__store {
				font: 400 1.4em "Roboto";
				color: rgb(170,180,190);
			}


			.current-store__information__closing {
				font: 400 1em "Roboto";
				color: rgb(170,180,190);
				text-transform: uppercase;
			}



.application__dboard {
	position: fixed;
	top: 0;
	width: 100%;
	background: rgb(30,170,241);
	//border-bottom: 1px solid rgb(5,145,216);
	box-shadow: 0px 1px 1px rgba(60,60,60,0.25);
}



	.dboard__container {
		position: relative;
	}


		.dboard__buffer {
			display: block;
			height: 6em;
		}


		.dboard__control {
			padding: 0 4em;
			max-width: 120em;
			margin: 0 auto;
		}


			.booze-search {
			}


				.booze-search__text {
					font: 300 2.4em "Roboto";
					padding: 0.75em 0;
					color: rgb(255,255,255);
					display: block;
					max-width: 50em;
					width: 50%;
					border: 0;
					border-bottom: 1px solid rgba(255,255,255,0.25);
					background: transparent;
					outline: none;
					-webkit-transition: border 0.3s;
					   -moz-transition: border 0.3s;
						-ms-transition: border 0.3s;
						 -o-transition: border 0.3s;
							transition: border 0.3s;

					&:focus {
						border-bottom: 1px solid rgba(255,255,255,0.75);
					}

					&::-webkit-input-placeholder {
						color: rgba(255,255,255,0.4);
					}

				}


				.stores__store {
					display: inline-block;
					font: 400 1em "Roboto";
					color: rgb(255,255,255);
					background: transparent;
					text-transform: uppercase;
					padding: 1em 2em;
					border: 0;
					border-bottom: 0;
					outline: 0;
					margin-right: 1em;
					background: rgba(255,255,255,0.06125);
					border-radius: 20px;
					-webkit-transition: -webkit-transform 0.3s;
					   -moz-transition: -webkit-transform 0.3s;
						-ms-transition: -webkit-transform 0.3s;
						 -o-transition: -webkit-transform 0.3s;
							transition: -webkit-transform 0.3s;
				}


				.stores__store--active {
					//border-top: 3px solid rgb(235
					color: rgb(30,170,241);
					background: rgb(255,255,255);
				}


			.status {
				font: 400 1.4em "Roboto";
				color: rgba(255,255,255,0.75);
				padding: 2em 0 1em 0;
			}


.drinks {
	max-width: 120em;
	margin: 0 auto;
	padding-bottom: 1.5em;
	border: 1px solid red;
	border: 1px solid red;
}

	.booze {
		width: 28em;
		height: 28em;
		margin: 2em 1em 0 1em;
		float: left;
		background: rgb(220,226,232);
	}


		.booze__name {
			font: 300 1.6em "Roboto";
			color: rgb(30,40,60);
			padding: 0.5em 1em;
		}


		.booze__price {
			height: 4em;
			width: 4em;
			border-radius: 5em;
			text-align: center;
			margin: 0.7em auto 1.5em auto;
			background: #F39C12;
			font: 300 4em/4em "Roboto";
			color: rgb(255,255,255);
		}




