// SETUP
// -----

body {
	background: rgb(30,170,241);
	background: #F39C12;
	font-size: 62.5%;
	background: #F39C12 url('../images/bg.png') no-repeat center top;
	background-size: 120em;
	background-position: auto -8em;
	padding-bottom: 6em;
}


.application {
	min-height: 100vh;
	background: rgb(240,244,248);
}